/* latin-ext */
@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/fraunces/v37/6NU58FyLNQOQZAnv9ZwNjucMHVn85Ni7emAe9lKqZTnbB-gzTK0K1ChjdPeQ_5Y.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/fraunces/v37/6NU58FyLNQOQZAnv9ZwNjucMHVn85Ni7emAe9lKqZTnbB-gzTK0K1ChjeveQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/fraunces/v37/6NU78FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0KxCFTeO-U.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/fraunces/v37/6NU78FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0KxC9TeA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
    --ftwgt-500: 500;
    --ftwgt-700: 700;
}

html {
    font-family: 'Monserrat', 'Fraunces', sans-serif;
    font-size: 14px;
}


/*-- COMPOSITION --*/

body {
    display: flex;
    min-width: 320px;
    place-items: center;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-color: var(--cream);
}

.card-wrapper {
    min-width: 310px;
    height: auto;
    margin: 0 auto;    
}

.card {
    background-color: var(--white);
    width: 310px;
    height: auto;
    border-radius: 10px;    
}

.image-wrapper, .mobile-img {
    width: 310px;
    height: auto;
    border-radius: 10px 10px 0px 0px;    
}


.desktop-img {
    display: none;
    position: absolute;
    visibility: hidden;
}

.product-info {
    margin: 22px;
}

.product-info h1 {
    margin: 0 auto;    
}

.price {
    display: flex;
    flex-direction: row;    
    height: 48px;
    place-items: center;
    margin: 0 auto;
    
}

.price p {
    padding: 0 20px;
}


footer {
    position: absolute;
    width: 100%;        
    height: 14px;
    bottom: 5px;
}


/* UTILITIES */

.product-name, .offer-price {
    font-family: 'Fraunces', serif;
}

.product-name {    
    font-size: 2.08em;
    font-weight: var(--ftwgt-700);
    line-height: 1;
}

.offer-price {
    font-size: 2.08em;
    color: var(--green-500);
}


.attribution a {    
    color: var(--green-500); 
}






/* BLOCKS */

.product-tag, .product-desc, 
.original-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--ftwgt-500);
}  

.product-tag {    
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.85em;    
    color: var(--grey);
}

.product-desc {    
    font-size: 0.95em;    
    color: var(--grey);
    line-height: 1.5;
}

.original-price {    
    font-size: 0.95em;    
    text-decoration: line-through;
    color: var(--grey);
}

.cart-button {    
    width: 100%;
    height: 45px;
    margin: 11px auto 22px auto;
    border: none;
    border-radius: 5px;
    background-color: var(--green-500);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95em;
    font-weight: var(--ftwgt-700);    
    color: var(--white);
    text-align: center;
}


button img {  
    width: 19px;
    height: 19px;    
    margin: -4px 10px -4px auto;   
}


.attribution {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--ftwgt-500); 
    font-size: 11px; 
    text-align: center; 
}

/* EXCEPTION */


.cart-button:hover {
    cursor: pointer;    
}

.cart-button:focus {
    background-color: var(--green-700);     
}


@media only screen and (min-width: 992px) {

    .card {
        display: flex;                       
        flex-direction: row;
        width: 650px;
        height: 500px;                         
    }

    .image-wrapper {
        width: 325px;
        height: 500px;
        object-fit: cover;                
    }

    .mobile-img {
        display: none;
        visibility: hidden;        
    }

    .desktop-img {
        display: inline;
        visibility: visible;
        width: 325px;
        height: 500px;
    }

    .product-info {
        width: 325px;
        height: 500px;
        margin: 0 auto;
    }

    .product-info .product-tag, 
    .product-info .product-name, 
    .product-info .product-desc, 
    .product-info .price {
        margin: 30px 33px;
    }

    .product-name {
        font-size: 2.5em;
    }

    .product-desc {
        font-size: 1.1em;
        line-height: 1.5;
    }

    .offer-price {
        font-size: 2.5em;
    }

    .cart-button {
        margin: 0px 33px;
        width: 260px;
        height: 50px;         
    }

   

    





}




